# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ChatApi.iml
# Datasource local storage ignored files
/../../../../../../../../:\VISUALSTUDIO\IPCA\TRABALHOCD\ChatApi\.idea\.idea.ChatApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
